@import "tailwindcss";
@import "@nuxt/ui";

/* 炫彩流光动画 */
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shimmer {
  animation: shimmer 2s linear infinite;
}
